# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Maven
target/
*.jar
*.war
*.ear

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
log.path_IS_UNDEFINED/
logs/
*.log

# OS
.DS_Store
Thumbs.db

# VSCode Counter
.VSCodeCounter/
